
@font-face {
    font-family: STRYDE; /* Имя шрифта */
    src: url(StRyde-Regular.otf); /* Путь к файлу со шрифтом */
   }
body{
	border-top:5px solid #a292b3;
}

header{
	padding-top: 30px;
	padding-bottom: 30px;
}
header nav a{
	margin-left: 50px;
}

header .navbar-nav a img{
	vertical-align: baseline;
	margin-right: 10px;
}
.navbar-toggler:hover{
	outline-color: #ab96c1;
	text-decoration: none;
}


#logo{
	color:#ac9ebb;
	font-size: 20pt;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 65px;
  width: 35px;
  background-size: 70% 50%;
  background-color:  #82699d;
  background-image: none;
}

.carousel-control-next-icon
{
  background-image:  url(right.png);
}

.carousel-control-prev-icon {
  background-image:  url(left.png);
}
.carousel-control-prev{
	justify-content: flex-start;
}
.carousel-control-next{
	justify-content: flex-end;
}

#carouselExampleControls h1
{
	font-family: STRYDE;
	font-size: 15vh;
	text-shadow: -2px 3px 2px rgba(0, 0, 0, 0.5);
}
.carousel-caption{
	bottom: 130px;
}
#text{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-left:20px;
	padding-right:20px;
}

#text strong{
	color:#82699d;
}

#content div{
	padding-top: 40px;
}

#content div h3{
	padding-top: 30px;
}

#content div p{
	color:#a4a4a4;
	padding-top: 10px;
}

#content div p a{
	display: block;
	color:#a4a4a4;
}


#content div p a::after{
	content: url(contentArray.png);
}
#content div p a:hover{
	outline: none;
	text-decoration: none;
	color: #888787;

}

#content2 h4{
	margin-top: 40px;
}

hr{
    border: none; 
    margin-top: -15px;
    border: 1px dotted #e2e2e2;
     border-style: none none dotted;
}

#lines{
	padding-top: 70px;
}

#content3{
	min-height: 10vh;
}

#content3 div{
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
	line-height: 10vh;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;
}

#content4{
	background-color: #e4e4e4;
	min-height: 10vh;
	border-bottom: 10px solid #82699d;
}

#content5{
	padding-top: 20px;
}

#content6 img{
	margin-left: 30px;
}

#content6 a img:hover{
	background-color: #ab96c1;
	border-radius: 40px;
}
#content6 a{
	outline: none;
}

@media screen and (min-width: 200px) and (max-width: 770px) {
	.carousel-caption{
		bottom: 0;
	}
	#contentIMG{
		text-align: center;
	}
	hr{
		display: none;
	}
	#content3 div{
		margin-bottom: 0;
		margin-top: 0;
	}
	#carouselExampleControls h1
	{
		font-size: 10vh;
	}

@media screen and (min-width: 770px) and (max-width: 980px) {
	#content3 div{
		margin-bottom: 0;
		margin-top: 0;
	}
	hr{
		display: none;
	}
}