html
    font-family: 'Montserrat', sans-serif

.container
    padding-left: 405px
    padding-right: 405px

.dropdown 
    display: inline-block

.hamburger
    display: none

.dropdown-content 
    display: none

.header
    height: 88px
    background: #FBFBFB
    &_link
        text-decoration: none
    &_logo
        display: flex
        justify-content: space-between
        align-items: center
        font-weight: 600
        font-size: 18px
        color: #7E7E7E
        padding-right: 143px
        overflow: hidden
        text-decoration: none
        &_text
            margin-left: 8px
    &_menu
        display: flex
        justify-content: space-between
        align-items: center
        list-style-type: none
        margin: 0
        padding: 22px 0 0 0
        &_link
            text-decoration: none
            font-weight: 500
            font-size: 14px
            color: #7E7E7E
            transition: 0.3s
        &_link:hover
            color: #2553DE
    &_info
        padding-left: 187px 
        &_phone
            display: flex
            align-items: center
        &_email
            padding-top: 12px
            display: flex
            align-items: center
        &_img
            padding-right: 6px
    &_info>a 
        font-weight: 500
        font-size: 12px
        color: #7E7E7E
        text-decoration: none

.contacts
    background: #E5E5E5
    &_header
        font-size: 36px
        line-height: 44px
        color: #000000
        padding: 60px 0 60px 0
        font-weight: 600
    &_box
        display: flex
        justify-content: space-between
        align-items: center
        &_items
            display: flex
            justify-content: space-between
            align-items: center
            width: 350px
            height: 164px
            background: #F5F5F5
            border: 1px solid #DCDCDC
            box-sizing: border-box
            border-radius: 3px